<header>
  <nav class="container d-flex justify-content-between my-4">
    <img src="/assets/automods.png" alt="image" style="max-width: 100px;">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link text-dark active" href="#">Carros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark disable" href="#">Categorias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark disable" href="#">Marcas</a>
      </li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>

<footer class="bg-dark text-center mt-auto p-4 text-white">
  <h3>Desenvolvido por João Victor</h3>
  
  <div class="mt-2">
    <a href="http://api.whatsapp.com/send?phone=5561996279859&text=Olá João, visualizei o seu projeto Automods e gostaria saber um pouco mais sobre " class="text-white mx-2">
      <i class="fab fa-whatsapp fa-2x"></i>
    </a>
    <a href="https://www.linkedin.com/in/victor-costa-jvsc/" class="text-white mx-2">
      <i class="fab fa-linkedin-in fa-2x"></i>
    </a>
    <a href="https://www.instagram.com/dev.joaovictor" class="text-white mx-2">
      <i class="fab fa-instagram fa-2x"></i>
    </a>
    <a href="https://github.com/automods" class="text-white mx-2">
      <i class="fab fa-github fa-2x"></i>
  </a>
  </div>
</footer>
